[submodule "Veloce/vendor/spdlog"]
	path = Veloce/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Veloce/vendor/GLFW"]
	path = Veloce/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Veloce/vendor/glm"]
	path = Veloce/vendor/glm
	url = https://github.com/g-truc/glm
